<p>helloooooo I am in the recipes show action</p>

<h1>whatever i type here</h1>


<p><strong>title:</strong> <%= @recipe.title %></p>
<p><strong>chef:</strong> <%= @recipe.chef %></p>
<p><strong>ingredients:</strong> <%= @recipe.ingredients %></p>
<p><strong>directions:</strong> <%= @recipe.directions %></p>
<p><strong>prep_time:</strong> <%= @recipe.prep_time %></p>
<p><strong>image_url:</strong> <%= @recipe.image_url %></p>